- content_for :sections do
  %section
    %h1
      A novel 
      %strong health social environment 
      to improve the care of 
      %strong Parkinson’s 
      disease in 
      %strong Portugal
    %h3
      Faculdade de Engenharia da Universidade do Porto
    %footer
      .strong Ivo Reis, FEUP &bull; 2012

  %section.index_card
    %h1.strong.slop Roadmap
    %span Problem
    %span How I found a possible solution?
    %span How the solution was evaluated?
    
  %section.chapter.fullscreen#problem_chap
    .mark
    %strong.over_text.strong.slop Problem?
    %img#problem_image{:src => "../images/problem.jpg"}    

  %section.chapter.fullscreen#solution_chap
    .mark
    %strong.over_text.strong.slop How I found a possible solution?
    %img#solution_image{:src => "../images/solution2.jpg"}    

  %section.chapter.fullscreen#evaluation_chap
    .mark
    %strong.over_text.strong.slop How the solution was evaluated?
    %img#evaluation_image{:src => "../images/evaluation2.jpg"} 

  %section
    .question Questions

  %section
    %a.try_it.slop{href: "http://localhost:3000"} Try it!

