@font-face { src: url(../fonts/BebasNeue.otf); font-family: 'bebas'; }
@font-face { src: url(../fonts/league_gothic_webfont.ttf); font-family: 'gothic'; }
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v5/RJMlAoFXXQEzZoMSUteGWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    src: local('Alfa Slab One'), local('AlfaSlabOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/alfaslabone/v2/Qx6FPcitRwTC_k88tLPc-fn8qdNnd5eCmWXua5W-n7c.woff) format('woff');
}
@font-face {
    font-family: 'Erica One';
    font-style: normal;
    font-weight: 400;
    src: local('Erica One'), local('EricaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/ericaone/v2/7ct8ELB1awBkUBGJHiNceD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Nixie One';
    font-style: normal;
    font-weight: 400;
    src: local('Nixie One'), local('NixieOne'), url(http://themes.googleusercontent.com/static/fonts/nixieone/v3/gQ0PT3rPU_Et2ExNz-ahmj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald '), local('Oswald'), url(http://themes.googleusercontent.com/static/fonts/oswald/v5/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}

/************************************* ***** **************************************/
/************************************* ADDED **************************************/
body { counter-reset: chapter; }
body { counter-reset: chapter_list; }
.chapter { counter-increment: chapter; }
.mark:after{
  content: counter(chapter) "";
}
.index_card span{
  counter-increment: chapter_list;
}
.index_card span:before {
  content: counter(chapter_list) ". "
}

/* Progress */
.pagination {
overflow: hidden;
width: 80%;
margin-left: auto;
margin-right: auto;
position: absolute;
bottom: 2%;
left: 10%;
}
.slide_number {
float: left;
position: relative;
margin-right: 20px;
color: gainsboro;
font-size: 25px;
}

.progress {
position: relative;
bottom: -10px;
border-radius: 7px;
width: 80%;
float: left;
}
.progress .bar {
    width:0;
    height:10px;
    border-radius:5px;
    background:rgba(177, 177, 177, 0.4);
    -webkit-transition:width 0.2s linear;
    -moz-transition:width 0.2s linear;
    -ms-transition:width 0.2s linear;
    -o-transition:width 0.2s linear;
    transition:width 0.2s linear;
}
.progress-off {
    z-index:1;
}

.question {
font-size: 100px;
position: absolute;
top: 10%;
left: 22%;
}

.question:after {
content: '?';
font-size: 200px;
color: #C01801;
display: inline-block;
font-weight: bold;
}

.question:before, .underscore:before {
border-bottom: solid 8px #C01801;
width: 40px;
content: "";
display: inline-block;
margin-bottom: -20px;
}

.fullscreen{
  /*-webkit-transform: scale(1.00); */
  z-index: 1;
}
.try_it {
line-height: 310px;
left: 40%;
text-decoration: initial;
position: relative;
top: 45%;
font-size: 60px;
}
.over_text {
position: absolute;
left: 140px;
font-size: 90px;
top: 20px;
z-index: 1;
}
.mark{
position: absolute;
top: 250px;
left: -2px;
display: block;
height: 100px;
width: 100px;
background-color: black;
color: white;
text-align: center;
font-size: 90px;
z-index: 1;
}
.index_card span {
float: left;
clear: both;
font-size: 40px;
margin-bottom: 20px;
margin-left: 70px;
position: relative;
bottom: 60px;
}
.index_card span::before {
content: counter(chapter_list) " • ";
font-size: 30px;
color: #D11111;
text-shadow: 1px 1px 1px black;
position: relative;
top: -5px;
margin-right: 20px;
}

h1.strong {
  float: right;
  font-size: 110px;
  margin-bottom: 100px;
}

#problem_image{
  top: 140px;
  position: relative;
  height: 80%;   
}
#problem_chap{
  background: white;
}
#solution_image, #evaluation_image{
  height: 100%;
}
.mockups {
  margin-top: 25px;
}
.mockups img {
  width: 390px;
  margin-left: 5px;
}
#social_object{
width: 95%;
margin-left: 0px;
margin-top: 10px;
}
#roles {
width: 50%;
margin-left: 140px;
}

.prototype {
margin-top: 60px;
margin-left: 20px;
overflow: hidden;
}

.personas table, .testers table {
width: 95%;
margin-left: auto;
margin-right: auto;
margin-top: 35px;
box-shadow: 5px 10px 13px black;
}
.personas thead, .testers thead {
background: greenYellow;
text-align: center;
}
.personas td, .testers td {
padding-left: 10px;
}
.personas table tbody tr:nth-child(even), .testers table tbody tr:nth-child(even)  {
background: lightgray;
}
.prototype ol li {
margin-left: 40px;
list-style-type: upper-latin;
float: left;
}
.prototype img {
width: 330px;
}
#permission3 {
width: 500px;
}
#message_system {
  width: 95%;
  margin-left: 15px;
  margin-top: 70px;
}
.relations ol li {
list-style-type: lower-latin;
float: left;
width: 60%;
margin-left: 230px;
margin-top: 40px;
}

.timeline {
margin-left: auto;
margin-right: auto;
width: 75%;
margin-top: 90px;
}
#timeline {
width: 100%;
}

.objectives ol li {
list-style-type: decimal-leading-zero;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}

.evaluator, .objectives {
margin-top: 10px;
margin-left: 10px;
}
.evaluator dd {
margin-left: 30px;
margin-top: 10px;
}

.eval_object div {
margin-top: 25px;
}



/************************************* ADDED **************************************/
/************************************* ***** **************************************/

  html { background-color: black; }
  a { color: #C01801; } a:hover {text-decoration: underline;}
  footer { position: absolute; bottom: 50px; right: 50px; }
  strong, .strong {color: #C01801; text-shadow: 1px 2px 1px black;}
  body {
      font-family: 'bebas', arial, serif;
      background-color: white;
      color: black;
      font-size: 2em;
  }


  /* Transition effect */
  section {
      -moz-transition: right 400ms linear 0s;
      -webkit-transition: right 400ms linear 0s;
      -ms-transition: right 400ms linear 0s;
      transition: right 400ms linear 0s;
      background: white;
  }
  section { left: -150%; }
  section[aria-selected] { left: 0; }
  section[aria-selected] ~ section { left: +150% }

  .chapter { background-color: #F90; z-index: 1;}
  .chapter h1 {line-height: 600px; vertical-align: middle; margin: 0; text-align: center; display: block}

  h1 {
      margin: 50px 100px 0 100px;
      font-size: 70px;
      text-shadow: 0px -1px 0px #000;
      text-align: left;
  }
  h2 {
      color: #FAE50B;
      margin: 30px 0 0 0;
      font-size: 40px;
      text-align: center;
  }
  h3 {
  color: black;
  margin: 15px 0 0 0;
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', arial, serif;
  }

  ul {
      margin-top: 25px;
      font-size: 35px;
      text-align: right;
      border-right: 4px solid white;
      margin-left: 50px;
      display: inline-block;
  }
  q, p {
      margin: 50px auto 0 auto;
      width: 500px;
  }
  q:after {content: ""}
  q:before {content: ""}
  q {
      display: block;
      margin-top: 140px;
  }
  video {
      position: absolute;
      top: 210px;
      width: 260px;
      left: 445px;
      box-shadow: 0 0 10px black;
  }
  #arrow {
      position: absolute;
      top: 165px;
      left: 460px;
      font-size: 100px;
      color: white;

  }
  li {list-style-type: none}

.graph {
  width: 100%;
}
.task_description {
overflow: hidden;
width: 80%;
font-size: 18px;
position: absolute;
bottom: 50px;
left: 100px;
}
.task_description dt {
color: #C01801;
}
.task_description dt, .task_description dd {
float: left;
margin-right: 10px;
}
.graph_container {
overflow: hidden;
width: 65%;
margin-left: auto;
margin-right: auto;
}

tspan {
  line-height: 15px;
  font-size: 12px;
}
#tasks {
  font-size: 15px;
  text-align: center;
}
.tasks dt {
float: left;
margin-right: 25px;
}
.tasks {
width: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
.tasks dd {
margin-bottom: 15px;
}

header {
  font-family: 'Oswald', arial, serif;
  font-size: 18px;
  color: gray;
  text-align: center;
  margin-top: 10px;
}

div > ul {
  float: left;
}

div > ul li {
text-align: initial;
list-style-type: square;
margin-bottom: 20px;
}

#solution_under_chap {
  background: white;
}

#problem_under_image {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#inova {
  position: absolute;
  bottom: 100px;
  right: 50px;
}
#tulip {
  position: absolute;
  bottom: 40px;
  right: 20px;
}
#methodology {
  overflow: hidden;
  position: absolute;
  bottom: 110px;
  right: 80px;
}
#research_question {
  margin-top: 100px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 44px;
  padding: 10px;
  -webkit-border-radius: 20px;
  box-shadow: 5px 10px 1px black;
}
#research_question::after {
  content: "?";
  position: absolute;
  top: 100px;
  right: 45px;
  font-size: 110px;
  color: #C01801;
  text-shadow: 1px 2px 1px black;
  -webkit-transform: rotate(30grad);
}

.quote {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}
.quote.strong::before {
content: "‌“";
font-size: 170px;
position: relative;
top: 45px;
right: 20px;
font-family: "gothic";
}
.quote_author {
color: gray;
text-align: right;
margin-right: 107px;
font-size: 22px;
}
.quote_author::before {
content: "-";
margin-right: 11px;
color: gray;
font-size: 40px;
position: relative;
top: 7px;
}
#final_image {
position: absolute;
bottom: 40px;
right: 60px;
}
#final_chap {
background: white;
}
#parkinson_list ul li, #inova_list ul li {
text-align: justify;
}
#parkinson_list ul {
width: 365px;
font-size: 26px;
}

#inova_list ul {
width: 430px;
font-size: 27px;
}

#patientslikeme_image, #curetogether_image, #dailystrength_image {
border-radius: 15px;
box-shadow: 5px 5px 10px black;
position: relative;
}
#patientslikeme_image {
top: 60px;
left: 90px;
}
#dailystrength_image {
top: 170px;
left: 95px;
}
#curetogether_image {
top: 160px;
left: 90px;
}
#apdpk {
position: absolute;
width: 215px;
right: 10px;
}
.quotes_list > ul li{
font-size: 30px;
}
.quotes_list > ul li::before {
content: "“";
font-family: "gothic";
color: #C01801;
text-shadow: 1px 2px 1px black;
font-size: 30px;
position: relative;
top: -5px;
right: 5px;
}
.scenarios ol {
width: 82%;
margin-left: auto;
margin-right: auto;
font-size: 23px;
}
.scenarios ol li {
list-style-type: decimal-leading-zero;
margin-bottom: 10px;
}
.functionalities ol {
width: 90%;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
font-size: 30px;
}
.functionalities ol li {
list-style-type: square;
margin-bottom: 10px;
}
.fancybox img{
  width: 150px;
}

.preliminary_results li, .final_results li  {
  list-style: none;
  font-size: 28px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  list-style: none;
  padding-left: 30px;
}
.preliminary_results, .final_results li {
width: 90%;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}
 li::before,  li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
li.cons:before{
  left: 3px;
  width: 10px;
  height: 10px;
  border: 3px solid #C00000;
  margin-top: -8px;
  background: transparent;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
li.cons::after {
left: 6px;
width: 11px;
height: 3px;
margin-top: -2px;
background: #C00000;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}


li.pros::before {
  left: 6px;
  width: 5px;
  height: 12px;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: #7F913C;
  margin-top: -11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
li.idea::before {
  background: #0694A0;
  left: 4px;
  width: 16px;
  height: 5px;
  margin-top: 1px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
li.idea::after {
  margin: -8px 0 0;
background: #0694A0;
left: 9px;
width: 6px;
height: 10px;
margin-top: -7px;
border-radius: 5px 5px 5px 5px / 5px 5px 10px 10px;
-moz-border-radius: 5px 5px 5px 5px / 5px 5px 10px 10px;
border-radius: 5px 5px 5px 5px / 5px 5px 10px 10px;
}

.future_work div {
margin-bottom: 20px;
}
.future_work {
width: 85%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

.wrap_up ul {
font-size: 24px;
}
.wrap_up {
width: 85%;
margin-left: auto;
margin-right: auto;
}



/*/ /*********************  DZSlides CORE 2.0b1 ****************************/
/*/ ************************************************************************/
/*/ ************************************************************************/
/*/ ************************************************************************/
/*/ ************************************************************************/
/*/ This block of code is not supposed to be edited, but if you want to change the behavior of the slides, feel free to hack it ;)*/
/*/ Default Style
*/
 * { margin: 0; padding: 0; }
  details {display: none;}
  body {
    width: 800px; height: 600px;
    margin-left: -400px; margin-top: -300px;
    position: absolute; top: 50%; left: 50%;
    overflow: hidden;
  }
  html {
    overflow: hidden;
  }
  section {
    position: absolute;
    pointer-events: none;
    width: 100%; height: 100%;
  }
  section[aria-selected] { pointer-events: auto;}
  body {display: none}
  body.loaded {display: block}
