$('#unfollow_btn').replaceWith('#{link_to t("action.follow"), follow_path(id: @member), remote: true, method: :POST, id:"follow_btn", class: "btn btn-large"}');
$('.member_header_social_info').html("#{escape_javascript(render partial: 'members/social_info')}");