.row
  .library_links.span12
    = link_to t('global.text.link.add_item'), new_library_path, :id => 'new_library_item', class: 'btn'

.row.library_content
  .library_side_list.span2
    = render "library_menu"
  .library_items_list.span10
    = paginate @items
    - @items.each do |item|
      = render :partial => "item", :locals => {:item => item }